<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
Access-Control-Allow-Origin: *
<dom-module id="alta-productos">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <style>
    :host {
      display: block;
    }
    import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i');
    html,body{
      margin:0;
      height:120%;
      font-family: 'Josefin Sans', sans-serif;

    }
    a{
      text-decoration:none
    }
    .header{
      position:relative;
      overflow:hidden;
      display:flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start;
      align-content: flex-start;
      height:50vw;
      min-height:400px;
      max-height:550px;
      min-width:300px;
      color:#eee;
    }
    .header:after{
      content:"";
      width:100%;
      height:100%;
      position:absolute;
      bottom:0;
      left:0;
      z-index:-1;
     background: linear-gradient(to bottom, rgba(0,0,0,0.12) 40%,rgba(27,32,48,1) 100%);
    }
    .header:before{
      content:"";
      width:100%;
      height:200%;
      position:absolute;
      top:0;
      left:0;
        -webkit-backface-visibility: hidden;
        -webkit-transform: translateZ(0); backface-visibility: hidden;
      scale(1.0, 1.0);
        transform: translateZ(0);
      background:#1B2030 url(https://proyectopr040920.s3.us-east-2.amazonaws.com/Alta+productos/A1.jpg) 50% 0 no-repeat;
      background-size:100%;
      background-attachment:fixed;
      animation: grow 360s  linear 10ms infinite;
      transition:all 0.4s ease-in-out;
      z-index:-2
    }
    .header a{
      color:#eee
    }
    .menu{
      display:block;
      width:40px;
      height:30px;
      border:2px solid #fff;
      border-radius:3px;
      position:absolute;
      right:20px;
      top:20px;
      text-decoration:none
    }
    .menu:after{
      content:"";
      display:block;
      width:20px;
      height:3px;
      background:#fff;
      position:absolute;
      margin:0 auto;
      top:5px;
      left:0;
      right:0;
      box-shadow:0 8px, 0 16px
    }
    .logo{
      border:2px solid #fff;
      border-radius:3px;
      text-decoration:none;
      display:inline-flex;
      align-items:center;
      align-content:center;
      margin:20px;
      padding:0px 10px;
      font-weight:900;
      font-size:1.1em;
      line-height:1;
      box-sizing:border-box;
      height:40px
    }
    .sides, .info{
      flex: 0 0 auto;
      width:50%
    }
    .info{
      width:100%;
      padding:15% 10% 0 10%;
      text-align:center;
      text-shadow:0 2px 3px rgba(0,0,0,0.2)
    }
    .author{
      display:inline-block;
      width:150px;
      height:150px;
      border-radius:50%;
      background:url(https://proyectopr040920.s3.us-east-2.amazonaws.com/Alta+productos/A2.jpg) center no-repeat;
      background-size:cover;
      box-shadow:0 2px 3px rgba(0,0,0,0.3);
      margin-bottom:3px
    }
    .info h4, .meta{
      font-size:0.7em
    }
    .meta{
      font-style:italic;
    }
    @keyframes grow{
      0% { transform: scale(1) translateY(0px)}
      50% { transform: scale(1.2) translateY(-400px)}
    }
    .content{
      padding:5% 10%;
      text-align:justify
    }
    .btn{
      color:#333;
      border:2px solid;
      border-radius:3px;
      text-decoration:none;
      display:inline-block;
      padding:5px 10px;
      font-weight:600
    }

    .twtr{
      margin-top:100px
    }.btn.twtr:after{content:"\1F426";padding-left:5px}
  </style>
  <div class="header">
    <div class="info">
      <h1 style=font-size:100px><b>Alta de Productos en Inventario</b></h1>
      <a target="_b" class="author"></a>
  </div>
  </div>
  <div style="background-image: url('https://proyectopr040920.s3.us-east-2.amazonaws.com/12.jpg');">
  <section class="content">
  <div class="container">
    <div class="row">
      <p style="color:white;"> Por favor ingresa la informacion correspondiente al alta del producto de inventario </p>
    </div>
    <div class="row" style="color:white;">
      id del Producto: <input type="text" value="{{idProducto::input}}">
    </div>
    <div class="row" style="color:white;">
      Nombre del producto: <input type="text" value="{{nombreProducto::input}}">
    </div>
    <div class="row" style="color:white;">
      Precio del producto: <input type="number" value="{{precio::input}}">
    </div>
    <div class="row">
      <button on-click="altaProductos" type="button" name="button">AltaProductos</button>
    </div>
    <button on-click="cambio2" type="button" name="button" id ="home-app">Regresar</button>
  </div>
  <iron-ajax
    id="doPost"
    url="http://localhost:3000/altaProductos"
    content-type="application/json"
    crossDomain:true
    dataType:'jsonp'
    method="POST"
    handle-as="json"
    headers="Access-Control-Allow-Headers: *"
    body ="[[producto]]"
    on-response="manageAJAXResponse"
    on-error="showError"></iron-ajax>
    </section>
    </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class AltaProductos extends Polymer.Element {
      static get is() { return 'alta-productos'; }
      static get properties() {
        return {
          producto:{
            type: Object,
            notify:true
          },
          idProducto: {
            type: String,
            notify:true
          },
          nombreProducto:{
            type: String,
            notify:true
          },
          precio:{
            type:Number,
            notify:true
          }
        };
      }

    altaProductos(){
      console.log("Entra funcion")
        var infoProducto = {
          "idProducto":this.idProducto,
          "nombreProducto":this.nombreProducto,
          "precio":this.precio

        };
        console.log(infoProducto);
        this.producto = infoProducto
        this.$.doPost.generateRequest();
      }
      manageAJAXResponse(data) {
        console.log("Respuesta recibida del servidor");
        console.log(data);
        alert("Alta realizada");

      }
      showError(error) {
        console.log("Ocurrio un error");
        alert("Hubo un error al dar de alta");
        console.log(error);
      }
      cambio2(boton){
        console.log(boton.target.id)
        var id= boton.target.id;
        $("#contenedor").html("<"+ id +">"+ "</"+ id + ">");
      }

    }
    window.customElements.define(AltaProductos.is, AltaProductos);
  </script>
</dom-module>
